:root {
    --main_gradient: linear-gradient(to right, #fc00ff, #00dbde);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.alert {
    position: relative;
    background-color: transparent;
    padding: 4px;
    margin: 12px 0px 4px 0px;
    background-color: white;
    transition: all 0.4s ease;
}

.alert--ward {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.alert--success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.alert__close {
    border: transparent;
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 2px;
    background-color: rgb(224, 224, 224);
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
}

.btn {
    padding: 0.8em 0.6em;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    color: white;
    border-radius: 16px;
    text-decoration: none;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--center{
    margin: 0px auto;
    margin: 12px;
}

.btn--primary {
    background: var(--main_gradient);
}

.btn--form {
    margin: 12px 0 8px 0;
}

.login-root,
.signup-root, 
.welcome-root {
    background: var(--main_gradient);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login,
.signup {
    width: 320px;
    padding: 0px 16px 16px 16px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid rgb(163, 163, 163);
}

.login__title,
.signup__title {
    text-align: center;
    margin: 16px 0;
    border-bottom: 1px solid rgb(209, 209, 209);
}

label {
    margin-bottom: 4px;
    font-weight: lighter;
}

.label--block {
    display: block;
}

input:focus {
    outline: none;
    border: 2px solid #00dbde;
}

.input--fw {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    margin-bottom: 8px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(211, 211, 211);
    outline: none;
    border: 2px solid rgb(226, 226, 226);
}

.form-group--correct input{
    outline: none;
    border: 2px solid rgb(0, 228, 0);
}

.form-group--correct label{
    color: rgb(0, 228, 0);
}

.form-group--incorrect input{
    outline: none;
    border: 2px solid rgb(255, 70, 70);
}

.form-group--incorrect label{
    color: rgb(255, 70, 70);
}

.form-group__error-message{
    font-weight: lighter;
    color: red;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 8px;

    /*Solo se muestran si hay un error*/
    display: none;
}

.form-group__error-message--active{
    display: block !important;
}

.form__error-message{
    background-color: rgb(255, 176, 176);
    border: 1px solid rgb(255, 78, 78);
    text-align: justify;
    font-weight: lighter;
    padding: 8px;

    /*Solo se muestra si hay un error*/
    display: none;
}

.form__error-message--active{
    display: block;
}

.login__redirect,
.signup__redirect {
    text-align: center;
    font-weight: 300;
}

.login__redirect a,
.signup__redirect a {
    font-weight: bold;
    color: #00dbde;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.welcome__message span{
    background-color: #fc00ff;
    padding: 0.2em 0.6em;
    color: white;
    border-radius: 16px;
}