<% if(message) { %>
    <div class="alert alert--ward">
        <button class="alert__close">
            <i class="fas fa-times"></i>
        </button>
        <p class="alert__message"><%= message %></p>
    </div>
<% } %>