<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SIGNUP</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="login-root">

            <div class="login">

                <%- include('_messages.ejs') %>

                <h1 class="login__title">SIGNUP</h1>

                <form method="post" action="/signup" id="signup-form">

                    <div class="form-group" id="user_first_name-group">
                        <label class="label--block" for="user_first_name">First Names</label>
                        <div class="form-group__input">
                            <input class="input--fw" type="text" id="user_first_name" name="user_first_name" placeholder="Your first name here" />
                        </div>
                        <p class="form-group__error-message">Los nombres solo pueden contener letras.</p>
                    </div>

                    <div class="form-group" id="user_last_name-group">
                        <label class="label--block" for="user_last_name">Last Names</label>
                        <div class="form-group__input">
                            <input class="input--fw" type="text" id="user_last_name" name="user_last_name" placeholder="Your last name here" />
                        </div>
                        <p class="form-group__error-message">Los apellidos solo pueden contener letras.</p>
                    </div>

                    <div class="form-group" id="user_identification_document-group">
                        <label class="label--block" for="user_identification_document">Identification Number</label>
                        <div class="form-group__input">
                            <input
                                class="input--fw"
                                type="number"
                                id="user_identification_document"
                                name="user_identification_document"
                                placeholder="Your identification number here"
                            />
                        </div>
                        <p class="form-group__error-message">La identificación solo permite números, sin signos de puntuación.</p>
                    </div>

                    <div class="form-group" id="user_email-group">
                        <label class="label--block" for="user_email">Email</label>
                        <div class="form-group__input">
                            <input class="input--fw" type="email" id="user_email" name="user_email" placeholder="example@domain.com" />
                        </div>
                        <p class="form-group__error-message">El correo electrónico no es válido.</p>
                    </div>

                    <div class="form-group" id="user_password-group">
                        <label class="label--block" for="user_password">Password</label>
                        <div class="form-group__input">
                            <input class="input--fw" type="password" id="user_password" name="user_password" placeholder="********" />
                        </div>
                        <p class="form-group__error-message">La contraseña debe contener mínimo 8 caracteres y debe incluír un número y uno de los siguientes caracteres especiales: @ $ ! % * # ? & / %</p>
                    </div>

                    <p class="form__error-message">Por favor, rellene el formulario correctamente antes de realizar el envío.</p>

                    <input type="submit" value="ENVIAR" class="btn btn--primary btn--block btn--form" />

                    <p class="signup__redirect">Already has an account?, <a href="/login">login now</a></p>
                </form>
            </div>
        </div>
    
        <script src="/scripts/alerts.js"></script>
        <script src="/scripts/signup_validate.js"></script>
        <script src="https://kit.fontawesome.com/5023e2a492.js" crossorigin="anonymous"></script>

    </body>
</html>
